.containerss div {display: none;}

#city_selected
{
    /*max-width: max-content;*/
    margin-left: auto;
    margin-right: 20px;

    cursor: pointer;

    white-space: normal;
    float: left;

    color: #E5E5E5;
    /*border-left: 1px solid rgba(255,255,255,.1);*/

    /*
    font-weight: bold;
    border-bottom: 1px dashed;
     */
}

.ok_button{
    position: relative;
    top: -230px;
}
#city-ok-button{
  text-align:center;
}

.select_wrp_region{
    float: left;
    margin-right: 1% !important;
}
.select_wrp_all{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 98%;
}

.select_wrp {
    width: 200px;
    height: 300px;
    margin: 0 auto;
}

.city_name{
    border-bottom: 1px dashed;
}

@media screen and (max-width: 991px){
    #city_selected{
        border-left: 1px solid rgba(255,255,255,.1);
    }

    .city_selected_block{
      width: 16.6666% !important;
    }
}


@media screen and (min-width: 1200px){

    .city_selected_block{
      max-width: 30.6666% !important;
      min-width: 16.6666% !important;
    }
}

.city_selected_block{
    max-width: 20.6666%;
    min-width: 16.6666%;
}

.fixed-overlay {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.fixed-overlay__modal {
  text-align: center;
    z-index: 1000;
  /*white-space: nowrap;*/
}

.fixed-overlay__modal::after {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  content: '';
}

.city_popup {
  width: 500px;
  max-width: 100%;
  border-radius: 5px;
  z-index: 11111;
  overflow: auto;
  display: inline-block;
  /*vertical-align: top;
  margin-top: 50px; */
  position: absolute;
  left: 33.9%;
  top: -100px; 
  margin-top: 50px;
}

.city_popup .head {
padding: 10px;
    background: #334051;
    color: white;
    font-size: 21px;
    overflow: auto;
    border-radius: 0;
}

.city_popup .head .title {
    float: left;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
}

.city_popup .head .close {
  cursor: pointer;
  float: right;
}

.city_popup .body {
display: block;
    background: white;
    color: black;
    font-weight: 100;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    overflow: auto;
    padding: 15px 0;
    min-height: 20px;
    height: auto;    
    z-index: 9999;
}

.city_popup .body ul.list {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    margin: 0 auto;
    text-align: center;    
}


.city_popup .body ul.list li a {
    color: #334051;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

.city_popup .body ul.list li a:hover {
    color: #990000;
    text-decoration: none;

}


.city_popup .body ul.list li.active a {
    color: #990000;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

@media screen and (max-width: 659px) {
    
    .city_popup {
        width: 100%;        
        left: 0;
    }    
    
    
  .city_popup .head .title {
    float: left;
    margin-right: 10px;
  }
  .city_popup .head .close {
    cursor: pointer;
    float: right;
    position: absolute;
    top: 2px;
    right: 5px;
  }
  
  .city_popup .body ul.list {
    column-count: 1;
    -moz-column-count: 1;
    -webkit-column-count: 1;
}

.city_popup .body ul.list li a {
    line-height: 25px;
}

  
}